<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta content="telephone=no" name="format-detection" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"
    name="viewport" />
  <!--用于 web-vew 跳回小程序-->
  <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
  <script type="text/javascript">
    var jap = {
      siteId: 'JA2019_2532390',
      autoLogPv: true,
      anchorpvflag: true
    };
  </script>
  <!-- 埋点 -->
  <script type="text/javascript" src="https://wl.jd.com/unify.min.js"></script>
  <script type="text/javascript">
    try {
      MPing.inputs.Click.attachEvent();
    } catch (e) { }
  </script>
  <title></title>
<link href="//storage.jd.com/jdcdkh/coolpocket/2.5.1/css/0.css" rel="stylesheet"><link href="//storage.jd.com/jdcdkh/coolpocket/2.5.1/css/app.css" rel="stylesheet"></head>

<body>

  <script src='https://cdn.bootcss.com/vConsole/3.3.2/vconsole.min.js'></script>
<!-- <script type="text/javascript">

window.vConsole = new window.VConsole();
console.log("错误");</script> -->
  <script>
    window.supportWebp = false;
    if (document.createElement('canvas').toDataURL('image/webp').indexOf('data:image/webp') == 0) {
      document.body.classList.add('webp');
      window.supportWebp = true;
    }  
  </script>
  <div id="app"></div>
<script type="text/javascript" src="//storage.jd.com/jdcdkh/coolpocket/lib/vendor.dll.js"></script><script type="text/javascript" src="//storage.jd.com/jdcdkh/coolpocket/2.5.1/js/common_chunks.js"></script><script type="text/javascript" src="//storage.jd.com/jdcdkh/coolpocket/2.5.1/js/app.js"></script></body>

</html>