/* 轮播图 */
.swiper{

}
.swiper-wrapper img{
    width: 100%;
    vertical-align: top;
}
/* 超级会员全场免费 */
.inform{
    position: relative;
    background:#fbfbfb;
    height: 0.58rem;
    line-height: 0.58rem
}
.informItem{
    display: inline-block;
    font-size: 0.24rem;
    vertical-align: top;
    color:#9d9d9d
}
.informLeft span{
    color: #ff7739;
    padding-left:0rem;
}
.informLeft i.line{
    display: inline-block;
    padding:0.1rem 0;
    border-left:2px solid #ff7739;
    margin-left:0.15rem;
}
.informRight{
    float: right;
    margin-right: 0.1rem;
}
.informRight a{
    color:#9d9d9d
}
.informRight a i{
    margin-left:0.05rem
}

/* 导航 */
.mainNav{
    margin:0.3rem 0 0;
    padding-bottom:0.3rem;
    border-bottom:1px solid #e6e6e6;
}
.mainNav ul{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */ 
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box; 
    display: flexbox; 
    display: flex;
    -webkit-justify-content:space-around;
    justify-content: space-around;
}
.mainNav ul li span.navItemImg{
    display: inline-block;
    width:0.88rem;
    height:0.88rem;
}
.mainNav ul li span.navItemImg{
    background:url(../image/2017022317384553.png) no-repeat;
    background-size:0.87rem auto;
}
.mainNav ul li:nth-child(1) span.navItemImg{
    background-position: 0 0;
}
.mainNav ul li:nth-child(2) span.navItemImg{
    background-position: 0 -0.88rem;
}
.mainNav ul li:nth-child(3) span.navItemImg{
    background-position: 0 -1.76rem;
}
.mainNav ul li:nth-child(4) span.navItemImg{
    background-position: 0 -2.64rem;
}
.mainNav ul li:nth-child(5) span.navItemImg{
    background-position: 0 -3.52rem;
}
.mainNav ul li h2.navItemName{
    font-size: 0.24rem;
    font-weight: normal;
    text-align: center;
    margin-top: 0.1rem;
}
/* 快讯 */
.newsFlash{
    overflow: hidden;
    background: #fff;
    margin:0.2rem 0.1rem 0.1rem;
    
}
.newsLogo{
    float: left;
    width:2.1rem;
    height:0.7rem;
    margin-top:0.15rem;
    margin-left:0.2rem;
}
.newsLogo span{
    display: inline-block;
    width:2rem;
    height:0.7rem;
    background:url(../image/kuaixun.png) no-repeat;
    background-size:contain;
}
.newsLogo i{
    border-left:1px solid #f9f9f9;
    display: inline-block;
    height: 0.5rem;
    float: right
}
.newsMain{
    margin-left:2.5rem;
   margin-top:0.05rem;
    height:0.9rem;
    width: 100%;
  
}
.newsMain #newSwiper{
    height:0.9rem;
}

.newsMain h2.swiperTitle{
    font-size: 0.28rem;
    font-weight: normal;
    color:#2f2f2f;
}
.newsMain span.swiperDes{
    font-size: 0.24rem;
    color:#949494;
}
.newLine{
    width:100%;
    height: 0.18rem;
    background:#f1f1f3;
    clear: both;
    overflow: hidden;
}