/* 头部 */
.topHeader{
    height: 0.88rem;
    border-bottom: 1px solid #f3f3f3;
}
.topHeader .headerleft{
    display: inline-block;
    margin-left: 0.32rem;
    margin-top:0.2rem;
    font-size: 0.36rem;
    color:#333
}
.topHeader .headerleft .logoImg{
    display: inline-block;
    margin-right: 0.16rem;
    width:0.5rem;
    height: 0.5rem;
    vertical-align: middle
}
.topHeader .headerleft .logoName{
    display: inline-block;
    width: 1.45rem;
    height: 0.32rem;
    vertical-align: middle;
}
.topHeader .headerleft img{
    width:100%;
    vertical-align:top;
}

.topHeader .headerRight{
    float: right;
    overflow: hidden
}
.topHeader .headerRight li{
    display: inline-block;
    margin-right:0.2rem;
    margin-top:0.2rem;
    width:0.48rem;
    height:0.48rem;
}
.topHeader .headerRight li img{
    width:100%
}

/* 轮播图 */
.swiper{
    margin-bottom:0.1rem;
}
.swiper-wrapper img{
    width: 100%
}

/* 导航 */
.mainNav{
    margin: auto;
    text-align: center;
}
.mainNav .navContent{
    padding:0.1rem 0 0rem;
}
.mainNav .navUl{
    margin: 0;
   
    width: 92%;
    margin:0.32rem 4%;
    display: flex;
    display: flexbox; 
    display: box; 
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */ 
    display: -webkit-flex;    /* Chrome, WebKit */
    overflow: hidden;
    -webkit-justify-content:space-between;
    justify-content: space-between;
}
.mainNav .navUl li.navItem{
    display: inline-block;
    width:20%;
    margin: 0px;
}
.mainNav .navUl li.navItem span{
    height: 0.88rem;
    width:0.88rem;
    display: inline-block;
    background:url('../image/2017022317384553.png') no-repeat;
    background-size:0.87rem auto; 
}

.mainNav .navUl li.navItem-0 span.navItemImg{
    background-position: 0 0;
}
.mainNav .navUl li.navItem-1 span.navItemImg{
    background-position: 0 -0.88rem;

}
.mainNav .navUl li.navItem-2 span.navItemImg{
    background-position: 0 -1.76rem;
}
.mainNav .navUl li.navItem-3 span.navItemImg{
    background-position: 0 -2.64rem;
}
.mainNav .navUl li.navItem-4 span.navItemImg{
    background-position: 0 -3.52rem;
}

.mainNav .navUl li.navItem h2.navItemName{
    margin-top:0.19rem;
    font-size: 0.24rem;
    color: #999;
}

/* 精品推荐 */
.recommendation{
    overflow: hidden;
}
/* 每个模块之间的分割 */
.gapDom{
    height: 0.2rem;
    background:#F0F0F2;
    width: 100%
}
/* 女生美文 */
.girlBooks{
    margin-top:0.2rem;
}
.girlList{
    position: relative;
    margin:0 0.32rem;
}
.girlList .girlListItem{
    border-top:1px solid #f3f3f3;
    padding:0.25rem 0;
}
.girlList .girlListItem .listItemTitle{
    display: flex;
}
.girlList .girlListItem .listItemTitle .listItemTitleText{
    width: 63%;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    font-size: 0.32rem;
}
.girlList .girlListItem .listItemTitle .listItemTitleTags{
    display: inline-block;
    width: 37%;
    text-align: right;
    font-size: 0.24rem;
}
.girlList .girlListItem .listItemTitle .listItemTitleTags .tagSerial,
.girlList .girlListItem .listItemTitle .listItemTitleTags .tag{  
    display: inline-block;
    height: 0.36rem;
    line-height: 0.36rem;
    padding:0 0.11rem;
    border:1px solid rgba(153,153,153,.3);
    border-radius: 0.1rem;
    color:#999;
}
.girlList .girlListItem .listItemTitle .listItemTitleTags .tagSerial{
    margin-right: 0.08rem;
    border-color: rgba(112,167,227,.3);
    color: #70a7e3;
}
.girlList .girlListItem .listItemDesc{
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break:break-all;
    overflow: hidden;
    display: inline-block;
    height: 0.32rem;
    line-height: 0.32rem;
    width:100%;
    margin-top:0.2rem;
    font-size: 0.24rem;
    color: #999;
}